@import"reset.css";
@import"skeleton.css";
@import"inner.css";
@import"color-fonts.css";
@import"elements.css";
@import"superfish.css";
@import"portfolio.css";
@import"forms.css";
@import"slider-form.css";
@import"flexslider.css";
@import"prettyPhoto.css";
@import"fancybox.css";
@import"jcarousel.css";

body { background: url("../images/patterns/bg-body.jpg") repeat scroll 0 0 #fff; font-size: 12px; line-height:1.8em; font-family: 'Open Sans', Arial, Tahoma, sans-serif; color:#888888; position:relative; min-width:320px; }

html, body { height:100%; }

a { color:#969696; outline:none; cursor:pointer; text-decoration:none; }

a:hover {  }

p { margin-bottom: 20px; text-align: justify;}

img { max-width:100%; height:auto; }

/*  Header styles */
h1, h2, h3, h4, h5, h6 ,.big-text{ color: #2A313C; display: block; font-family: 'OpenSansBold', Arial; font-weight: normal; margin-bottom: 25px; }

h1 { font-size: 22px; }

h2 { font-size: 20px; }

h3 { font-size: 18px; text-transform: capitalize; }

h4 { font-size: 16px; margin: 0px 10px 0px 0px; float:left; }

h5 { font-size: 14px; }

h6 { font-size: 12px; }

.tagline h1 { margin-bottom: 10px; font-size: 24px; line-height: 28px; font-family: 'OpenSansLight', Arial; }

.tagline h3 { margin-bottom: 10px; font-size: 18px; line-height: 28px; font-family: 'OpenSansLight', Arial; }

.tagline h4 { margin-bottom: 5px;  font-size: 16px; line-height: 28px; font-family: "OpenSansRegular", Arial, sans-serif; }

.logo h1 { float: left; margin-bottom: 0; }

.big-text{
	font-size:15em;
}
h1 a { background: url("../images/logo.png") no-repeat scroll 0 0 transparent; display: block; height: 72px; text-indent: -999em; width: 400px; }


::selection {
background:#6A93AD;
color:#FFF;
}
::-moz-selection {
background:#6A93AD;
color:#FFF;
}

strong, strong a { font: 12px 'OpenSansBold', Arial; }

strong a:hover { color:#000; text-decoration:underline; }

.strong-1 a { color:#969696; }

/*=========================================================================
 GLOBAL STRUCTURE
========================================================================= */


.clear { clear:both; line-height:0; font-size:0; overflow:hidden; height:0; width:100%; }

.wrapper { width:100%; overflow:hidden; position:relative; }

.extra-wrap { overflow:hidden; display:block; }

.fleft { float:left; }

.fright { float:right; }

.alignright { text-align:right; }

.aligncenter { text-align:center; }

.alignmiddle * { vertical-align:middle; }

.sub-heading { color: #999; font: 12px 'OpenSansSemibold', Arial; padding-top: 8px; text-shadow: 1px 1px 0 #FFFFFF; text-transform: lowercase; display: block; }

.text-t-big { text-transform: uppercase; }

.ident-bot-0 { margin-bottom: 0; }

.ident-bot-1 { margin-bottom: 10px; }

.ident-bot-2 { margin-bottom: 20px; }

.ident-bot-3 { margin-bottom: 25px; }

.ident-bot-4 { margin-bottom: 30px; }

.ident-right-1 { margin-right: 18px; }

.ident-right-2 { margin-right: 15px; }

.ident-top-1 { margin-top: 10px; }

.ident-top-2 { margin-top: 20px; }

.ident-top-3 { margin-top: 30px; }

/*=========================================================================
 HEADER
========================================================================= */


.row-1 { background: url("../images/row-1-bg.jpg") repeat-x scroll 0 0 #252525; border: 1px solid #111111; }

.row-2 { background: url("../images/header-bg.png") repeat-x scroll 50% 0 #3E7DAF; }

.row-3 { background: url("../images/patterns/hash.png") repeat scroll left top #222; min-height: 41px; padding: 10px 0; }

.slogan { float:left; font-size: 12px; line-height: 32px; font-family: 'OpenSansBold', Arial; color:#fff; text-transform: uppercase; background: url('../images/separator-2.png') no-repeat; margin-left:26px; margin-top:20px; padding-left:26px; text-shadow: 1px 1px 0 #000, 2px 2px 0 #777; }

nav { float:left; }

.login { float:right; padding-top:28px; margin-right:2px; }

.login li { float:left; padding-left:9px; background: url('../images/slogan-border.jpg') no-repeat 0 2px; }

.login li:first-child { padding-right:9px; background:none; }

.login li a { color:#fff; font-size: 11px; line-height: 12px; font-family:'OpenSansRegular', Arial; text-transform: uppercase; text-shadow: rgba(0, 0, 0, 0.27) 1px 1px 1px; }

.login li a:hover { text-decoration:underline; }

/*=========================================================================
 CONTENT
========================================================================= */

#content { background: url("../images/patterns/shadow.png") repeat-x scroll 0 0 transparent; padding: 42px 0 65px 0; border-bottom: 5px solid #f1f0ed; }

#page-inner #content { padding: 30px 0 40px; }

#page1 #content { padding: 60px 0 40px; }

.list-1 li { padding-left: 26px; background: url('../images/list-marker-1.png') no-repeat 0 7px; border-bottom: 1px solid #EEEEEE; }

.list-1 li a { font-size: 12px; line-height: 30px; font-family: 'Open Sans', Arial, Tahoma, sans-serif; font-weight: bold; }

.list-1 li a:hover { text-decoration:none; }

.list-2 li { padding-left: 13px; background: url('../images/list-marker-2.png') no-repeat 0 9px; }

.list-2 li a { color: #f3aca1; font-size: 12px; line-height:24px; font-family: "Trebuchet MS", sans-serif; text-decoration:underline; }

.list-2 li a:hover { color:#fff; }

.block-ident-1 { padding-right:30px; }

.block-ident-2 { padding-right:20px; }

.block-ident-3 { padding-right:17px; }

.block-ident-4 { padding-right:20px; }

.block-1 { background: #f7f6f4; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; behavior: url(js/PIE.htc); }

.block-1 img { float:left; -webkit-border-radius: 4px 0 0 4px; -moz-border-radius: 4px 0 0 4px; border-radius: 4px 0 0 4px; border-right: 5px solid #ecebe7; behavior: url(js/PIE.htc); }

.block-1-1 { float:left; width:154px; margin-left:16px; padding-top:26px; }

.date { line-height:18px; }

.block-2 { background: #fff; border: 1px solid #EEEEEE; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; behavior: url(js/PIE.htc); }

.block-2 img { float:left; width: 295px; -webkit-border-radius: 4px 0 0 4px; -moz-border-radius: 4px 0 0 4px; border-radius: 4px 0 0 4px; border-right: 5px solid #eee; behavior: url(js/PIE.htc); }

.block-2-1 { float:left; width:568px; padding:20px; }

.block-3 { background: #f7f6f4; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; behavior: url(js/PIE.htc); }

.block-3 img { float:left; -webkit-border-radius: 4px 0 0 4px; -moz-border-radius: 4px 0 0 4px; border-radius: 4px 0 0 4px; border-right: 5px solid #ecebe7; behavior: url(js/PIE.htc); }

.block-3-1 { float:left; width:195px; margin-left:16px; padding-top:26px; }

.block-4 img { float:left; }

.block-4-1 { float:left; width:205px; margin-left:39px; padding-top:18px; }

.block-5 { padding-top:9px; }

.block-6 img { float:left; }

.block-6-1 { float:left; width:360px; margin-left:20px; }

.banner-1 { -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24); margin-top:3px; behavior: url(js/PIE.htc); }

.link-name { font: 12px/21px 'OpenSansSemibold', Arial; text-transform: uppercase; }

.link-name:hover { color:#000; text-decoration:underline; }

.shadow-1 { -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.34); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.34); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.34); behavior: url(js/PIE.htc); }

.rt-block-1 { display:block; }

.rt-block-4 { display:block; margin-top:-5px; }

.img-border-bg { background: #fff; display: inline-block; padding:5px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 0 0 1px #e7e7e7 inset; -moz-box-shadow: 0 0 0 1px #e7e7e7 inset; box-shadow: 0 0 0 1px #e7e7e7 inset; behavior: url(js/PIE.htc); }

.img-border { -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; width: 100%; behavior: url(js/PIE.htc); }

.img-border-1 { border: 1px solid #fff; -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.30); -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.30); box-shadow: 0 0 1px rgba(0, 0, 0, 0.30); behavior: url(js/PIE.htc); }

.img-border-2 { display: inline-block; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.30); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.30); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.30); behavior: url(js/PIE.htc); }

.figure-1 a.left-image { margin-right:7px; }

.figure-1 a.right-image { margin-left:7px; }

/*  Buttons */
.button { display:inline-block; font-size: 12px; line-height:21px; font-family: "Trebuchet MS",sans-serif; color:#eb4d3a; text-decoration:underline; padding-right:16px; background: url('../images/button-arrow.png') no-repeat 100% 50%; }

.button:hover { color:#000; background: url('../images/button-arrow-hover.png') no-repeat 100% 50%; }

.link-1 { color:#969696; }

.link-1:hover {  }

/*=========================================================================
 Blog
========================================================================= */

.post-border-right { }

.post-holder { position:relative; }

.post-holder .time { display: inline-block; }

.post-holder .entry-title, .post-holder .entry-title a { font-family: 'OpenSansRegular', Arial; font-size: 18px; line-height: 24px; margin-bottom:10px; color:#4F5B70; text-decoration:none; }

.post-holder .entry-title a:hover {  }

.post-meta { border-top:1px dashed #D3D3D3; border-bottom:1px dashed #D3D3D3; padding: 10px 0; width:100%; overflow:hidden; margin-bottom:20px; }

.post-meta a { text-decoration:none; }

.post-meta a:hover { color: #000; text-decoration: underline; }

/*  parent post */

.parent { background: none repeat scroll 0 0 #FFFFFF; box-shadow: 0 0 1px #CCCCCC; margin-bottom: 30px; padding: 20px; position:relative; }

.parent-sub-img { background: url("../images/post-sub.png") no-repeat scroll 0 0 transparent; display: inline-block; height: 70px; left: -22px; position: absolute; top: -30px; width: 19px; }

.parent h5 { margin-bottom: 2px !important; }

.parent h5 a:link, .parent h5 a:visited { color: #333333; font: bold 14px 'arial'; }

.parent img { float: left; }

.parent span { font: italic 12px 'georgia'; }

.parent a.reply:link, .parent a.reply:visited { background: none repeat scroll 0 0 #EB4D3A; color: #FFFFFF; font-size: 10px; font-weight: bold; margin-left: 20px; padding: 2px 6px; text-transform: uppercase; }

.parent a.reply:hover { background: none repeat scroll 0 0 #333; }

.parent p { margin-top: 10px; overflow: hidden; }

.child { margin-left: 40px; }

.subchild { margin-left: 80px; }

/*  Addthis Widget */
.addthis_button_google_plusone { position: relative; top: -13px; }

.addthis_toolbox { float: right; text-align: right; }

.addthis_toolbox.addthis_pill_combo a { margin-top: 2px; }

.addthis_toolbox.addthis_pill_combo a.addthis_button_tweet, .addthis_toolbox.addthis_pill_combo a.addthis_counter { margin-top: 2px; }

.addthis_button_compact .at15t_compact { float: left; margin-right: 4px; }

.addthis_button_google_plusone iframe { width: 80px !important; }

.addthis_button_tweet iframe { width: 98px !important; }

.addthis_button_facebook_like iframe { width: 98px !important; }

/*=========================================================================
 Sidebar
========================================================================= */

.sidebar { float: right; padding-left: 40px; }

.sidebar h5 { border-bottom: 1px dashed #DDDDDD; border-top: 1px dashed #DDDDDD; margin-bottom: 15px; padding-bottom: 10px; padding-top: 10px; }

.sidebar-blog { float: right; padding-left: 40px; padding-top: 34px; }

.sidebar-blog h5 { border-bottom: 1px dashed #DDDDDD; border-top: 1px dashed #DDDDDD; margin-bottom: 15px; padding-bottom: 10px; padding-top: 10px; }

.search, .sidebar-social, .categories, .recent-post, .side-paragraph, .our-sponsors { float: left; padding: 0 0 40px; width: 100%; }

/* Search */
.search form { }

.search input[type="text"] { background: none repeat scroll 0 0 rgba(0, 0, 0, 0.03); border: 1px solid #CCCCCC; padding: 10px; width: 90%; }

.search p, .search div { margin-bottom: 0; }

/* Side paragraph */
.side-paragraph a { margin-right: 15px; }

/* Recent Post */
.recent-post a { margin-right: 15px; }

.recent-post .smalldate { background: url("../images/icons/cal.png") no-repeat scroll 0 2px transparent; color: #CCCCCC; display: block; font-size: 11px; font-style: italic; overflow: hidden; padding: 0 0 0 20px; }

.recent-post-block { margin-bottom:10px; display: inline-block; }

/* Our Sponsors */
.our-sponsors a { display: inline-block; margin: 0 3px 10px; }

/* Sociable */
.sidebar-social ul { }

.sidebar-social ul li { float: left; margin-right: 5px; }

.categories ul { }

.categories ul li { float: left; margin-right: 9px; padding: 2px 0; width: 117px; }

.categories ul li a:link, .categories ul li a:visited { background: url("../images/arrow.png") no-repeat scroll 0 5px transparent; color: #999999; padding-left: 20px; }

.categories ul li a:hover {  }

/* PRETTY PHOTO
========================================================================= */

/* Lightbox image */
.lightbox-image { position:relative; overflow:hidden; display:inline-block; }

.lightbox-image img { position:relative; z-index:2; }

#page1 .lightbox-image img { float:left; }

.lightbox-image span { display:block; position:absolute; left:0; top:0; width:100%; height:100%; background: url("../images/magnify.png") no-repeat scroll 50% 50% transparent; z-index:1; }

/*=========================================================================
 FOOTER
========================================================================= */


footer { background: url("../images/footer-bg.png") repeat scroll 50% 0 #333333; }

.footer-1 { padding:40px 0; }

.footer-2 { text-align:center; padding: 20px 0; box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1) inset; background: none repeat scroll 0 0 rgba(35, 35, 35, 0.4); }

.row-4 { background: url('../images/row-4-bg.jpg') repeat-x; height:5px; }

.policy {  font-size: 12px; line-height:24px; font-family: "Trebuchet MS",sans-serif; color: #ffffff; text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px; }

.policy a { color: #ffffff; }

.policy a:hover { text-decoration:underline; }

/*=========================================================================
 MAP
========================================================================= */

dl { display: block; width: 181px; }

dd span { float: right; }

dl strong { display: block; }

.map iframe { width: 100%; height: 250px; margin:0; }
 @media only screen and (min-width: 768px) and (max-width: 959px) {
 .block-ident-1 {
padding-right:0px;
}
 .block-ident-2 {
padding-right:10px;
}
 .block-ident-3 {
padding-right:0px;
}
 .block-1 img {
 width:160px;
 border-bottom: 5px solid #ecebe7;
}
 .rt-block-5 {
 display:none;
}
 .block-2 img {
 -webkit-border-radius: 3px 0 0 3px;
 -moz-border-radius: 3px 0 0 3px;
 border-radius: 3px 0 0 3px;
 behavior: url(js/PIE.htc);
}
 .block-2-1 {
 width:406px;
}
 .block-3 img {
 width:160px;
 -webkit-border-radius: 4px 0 0 0;
 -moz-border-radius: 4px 0 0 0;
 border-radius: 4px 0 0 0;
 border-bottom: 5px solid #ecebe7;
 behavior: url(js/PIE.htc);
}
 .block-3-1 {
 width:165px;
}
 .block-4 img {
 width: 260px;
 margin-top:16px;
}
 .block-4-1 {
 width:205px;
 margin-left:20px;
}
 .figure-1 a.left-image {
 margin-right:5px;
 width:101px;
}
 .figure-1 a.right-image {
 margin-left:5px;
 width:101px
}
 .block-6-1 {
 float:left;
 width:260px;
 margin-left:10px;
}
}
@media only screen and (max-width: 767px) {
 .donate-button {
display:none;
}
 nav {
float:none;
background:none;
}
 .donate-button {
display:none;
}
 .block-ident-1 {
padding-right:0px;
}
 .block-ident-2 {
padding-right:0px;
}
 .login {
display:none;
}
 .slogan {
display:none;
}
 .banner-1 {
position:relative;
left:50%;
margin-left:-110px;
}
 .block-1 img {
 border-right:none;
 -webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 border-radius: 4px;
 width:100%;
 behavior: url(js/PIE.htc);
}
 .block-1-1 {
 width:260px;
}
 .block-2 img {
 -webkit-border-radius: 4px 4px 0 0;
 -moz-border-radius: 4px 4px 0 0;
 border-radius: 4px 4px 0 0;
 border-right: none;
 behavior: url(js/PIE.htc);
}
 .block-2-1 {
 width:260px;
}
 .block-3 img {
 -webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 border-radius: 4px;
 border-right: none;
 width:100%;
 behavior: url(js/PIE.htc);
}
 .block-3-1 {
 width:260px;
}
 .block-4-1 {
 width:100%;
 margin-left:0;
}
 .block-ident-3 {
padding-right:0px;
}
 .rt-block-5 {
 display:none;
}
 .block-6 img {
 width:100%;
}
 .block-6-1 {
 float:left;
 width:280px;
 margin-left:0px;
}
 .rt-ident-bottom-1 {
 margin-bottom:30px;
}
 .block-ident-4 {
padding-right:0;
}
.sidebar {
padding-left: 0;
}
.sidebar-blog {
padding-left: 0;
}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
 .img-border-bg {
margin: 4px 0 20px 0;
}
 .slogan {
display:block;
margin-left: 15px;
padding-left: 15px;
}
 .block-1 img {
 border-right: 5px solid #ecebe7;
 border-radius: 4px 0 0 4px;
 border-radius: 4px 0 0 4px;
 border-radius: 4px 0 0 4px;
 width:220px;
}
 .block-1-1 {
 width:154px;
}
 .block-2 img {
 width:100%;
}
 .block-2-1 {
 width:380px;
}
 .block-3 img {
 width:210px;
 -webkit-border-radius: 4px 0 0 0;
 -moz-border-radius: 4px 0 0 0;
 border-radius: 4px 0 0 0;
 border-bottom: none;
 behavior: url(js/PIE.htc);
}
 .block-3-1 {
 width:165px;
}
 .block-4 img {
 width: 200px;
 margin-top:16px;
}
 .block-4-1 {
 float:left;
 width:180px;
 margin-left:20px;
 padding-top:18px;
}
 .block-6 img {
 width:140px;
}
 .block-6-1 {
 float:left;
 width:260px;
 margin-left:15px;
}
 .figure-1 a.left-image {
 margin-right: 10px;
 width: 188px;
}
 .figure-1 a.right-image {
 margin-left: 10px;
 width: 188px;
}
 .rt-block-2 {
width:180px !important;
float:left;
margin-right:30px;
}
 .rt-block-3 {
width:180px;
float:left;
margin-right: 30px;
}
}    
#navlist li
{
    width: 200px;
    float: left;
    margin-right: 28px;
}

.left-float{
    float: left;
}

.grafico{
    width: 557px;
    height: 232px;
    background-image: url('../images/grafica.png');
    margin:0px auto;
}

.grafico .num1, .grafico .num2, .grafico .num3, .grafico .num4, 
.grafico .num5, .grafico .num6, .grafico .num7, .grafico .num8,
.grafico .num9, .grafico .num10, .grafico .num11{
    width:93%;
    padding:15px 0px 0px 0px;
    margin:0px;
    float:left;
    height:80px;
    display:block;
}
.grafico .num2{
    height:60px;
    padding:7px 0px 0px 0px;
    width:28%;
}
.grafico .num3{
    height:60px;
    margin-left:25px;
    padding:7px 0px 0px 0px;
    width:28%;
}
.grafico .num4{
    height:60px;
    margin-left:28px;
    padding:7px 0px 0px 0px;
    width:32%;
}


.grafico .num5{
    height:50px;
    padding:28px 0px 0px 0px;
    width:9%;
}
.grafico .num6{
    height:50px;
    margin-left:40px;
    padding:28px 0px 0px 0px;
    width:9%;
}
.grafico .num7{
    height:50px;
    margin-left:47px;
    padding:28px 0px 0px 0px;
    width:9%;
}
.grafico .num8{
    height:50px;
    margin-left:40px;
    padding:28px 0px 0px 0px;
    width:9%;
}
.grafico .num9{
    height:55px;
    margin-left:22px;
    padding:28px 0px 0px 0px;
    width:9%;
}
.grafico .num10{
    height:50px;
    margin-left:30px;
    padding:28px 0px 0px 0px;
    width:9%;
}
.grafico .num11{
    height:50px;
    margin-left:30px;
    padding:28px 0px 0px 0px;
    width:5%;
}



.datagrid table { border-collapse: collapse; text-align: left; width: 100%; } .datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 1px solid #8C8C8C; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }.datagrid table td, .datagrid table th { padding: 3px 10px; }.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8C8C8C), color-stop(1, #7D7D7D) );background:-moz-linear-gradient( center top, #8C8C8C 5%, #7D7D7D 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C8C8C', endColorstr='#7D7D7D');background-color:#8C8C8C; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #A3A3A3; } .datagrid table thead th:first-child { border: none; }.datagrid table tbody td { color: #7D7D7D; border-left: 1px solid #DBDBDB;font-size: 12px;font-weight: normal; }.datagrid table tbody .alt td { background: #EBEBEB; color: #7D7D7D; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }

 .save_button{
     background: url(../images/save2.png) no-repeat scroll 0 0 transparent;
     border: none;
     cursor: pointer;
     width: 18px;
 }
 .save_button_ok{
     background: url(../images/save2.png) no-repeat scroll transparent;
     background-position: -18px 0px;
     border: none;
     cursor: pointer;
     width: 18px;
 }